<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4c4cf0b696.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/admin.css">
    <link rel="stylesheet" href="/public/css/home_view.css">
    <link rel="stylesheet" href="/public/css/input.css">
</head>
<body>
        <!-- <nav id="nav2" >
            <div class="blog_logo">
                <a href="/">View Blogs</a>
            </div>
                <div class="route">
                <ul id="signin">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
                </div>
        </nav> --> 

         <section id="interface" style="width: 1000%;">
            <nav style="position: fixed; width: 100%; z-index: 99;">
                <!-- For search bar -->
                <div class="logo"><a href="">Ecommerce</a></div>
                <input type="text" placeholder="New search here..." class="search_field">
                <div class="search_bar"  style="display: none;">
                    <i class="fa-solid fa-magnifying-glass" id="lens"></i>
                    <i class="fa-sharp fa-solid fa-xmark" id="closeBtn"></i>
                </div>
                <div class="n1">
                    <!-- for icon -->
                    <label class="nav-toggler" for="toggle">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </label>

                    <div class="search_">
                        <div class="search_icon">
                            <ul>
                                <li class="offers"><i class="fa-solid fa-user"></i>
                                    <a id="nav_link" href="#">Account</a>
                                    <ul class='dropdown'>
                                        <li><a href="/user/login">Sign In</a></li>
                                        <li><a href="/user/register">Register</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">What's New</a></li>
                                    </ul>
                                </li>
                                <li class="offers"><i class="fa-solid fa-circle-info"></i></i> <a id="nav_link" href="#">Q/E</a></li>
                                <li class="offers"><i class="fa-solid fa-cart-shopping"></i><a id="nav_link" href="#">Orders</a></li>                
                                <li class="_more"><i class="fa-solid fa-angle-down"></i>
                                <a href="#">More</a>
                                <ul class='dropdown'>
                                    <li><a href="/user/login">Sign In</a></li>
                                    <li><a href="/user/register">Register</a></li>
                                    <li><a href="#">Q/E</a></li>
                                    <li><a href="#">Notification</a></li>
                                </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--  For profile bar -->
            </nav>


              <!--  Login Form -->

              <div id="back_home" class="col py-3">
                <div class="row">
                    <div class="col">
                        <div aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active"><a href="/user/register">Sign Up</a></li>
                            </ol>
                        </div>
                    </div>
                    <h1>Login</h1>
                    <div class="col text-end fw-lighter">
                        
                    </div>
                </div>
              </div>
               
              <!-- users sec -->
            <div id="container">
                
                <form id="add_form" class="log_form" action="/user/login" method="POST">
                    <% if (typeof message !== 'undefined') { %>
                        <div class="user_msg">
                            <h4><%= message %></h4>
                        </div>
                    <% } %>
    
                    <div class="col" id="col_name">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="username" required="">
                        
                    </div>
                    
                    <div class="col" id="col_pass">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" required="">
                        
                    </div>
    
                    <div class="form-group mb-4" id="col_sub">
                            <button type="submit" class="btn btn-primary">submit</button>
                    </div>
                </form>

                <div class="form-group mb-4" style="padding-left: 20px;">
                    <a href="/user/forget">Forget Password</a>

                    <a href="/user/verification">verification</a>
                </div>

            </div>
            
              <footer id="more_info">
                <div class="more_in">
                    <ul>
                        <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                    <p class="Us">Contact Us:  070367442231</p>
                </div>
            </footer>
         </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
    <script src="/public/scripts/scripts.js"></script>
    <script src="/public/scripts/admin.js"></script>
    <script src="/public/scripts/"></script>
    <script src="/public/scripts/home_script.js"></script>
</body>
</html>